/*
<div class="...-wrap">
<span class="...">Текст в шапке</span>
<div class="...-text">
Текст внутри блока ...
</div>
</div>
*/

/*Означення*/
.eoz-wrap{
    margin-bottom:1em;
}
.eoz {
    background: #0F5181;
    border: 0.15em solid #0F5181;
    color:white;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
}
/* EXAMPLE HOW TO USE NIGHT THEME SPECIFIC STYLE */
.book.color-theme-2 .eoz {
    background: #000000;
    border: 0.15em solid #000000;
    color:white;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
}
/* EXAMPLE HOW TO USE SEPIA THEME SPECIFIC STYLE */
.book.color-theme-1 .eoz {
    background: #812527;
    border: 0.15em solid #81292f;
    color:white;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
}
.eoz-text {
    width:100%;
    background: #FAFAFA;
    border: .15em solid #0F5181;
    padding-left:10px;
    padding-right:10px;
}

/*Задача*/
.task-wrap{
    margin-bottom:1em;
}
.task {
    background: #faaf00;
    border: 0.15em solid #faaf00;
    color:white;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}

.task-text {
    width:100%;
    background: #fff;
    border-left: .15em solid #faaf00;
    padding-left:10px;
    padding-right:10px;
}

/*
Авторський алгоритм
Як запам'ятати
ЗНО
*/
.alg-wrap{
    margin-bottom:1em;
}
.alg {
    background: #faaf00;
    border: 0.2em solid #faaf00;
    color:white;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.alg-text {
    width:100%;
    background: #fff;
    border-top: .15em solid #faaf00;
    padding-left:10px;
    padding-right:10px;
    border-bottom: .15em solid #faaf00;
}

/*
Додатково
Цікаво
*/
.add-wrap{
    margin-bottom:1em;
}
.add {
    background: #0F5181;
    border: 0.2em solid #0F5181;
    color:white;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.add-text {
    width:100%;
    background: #fff;
    border-top: .15em solid #0F5181;
    padding-left:10px;
    padding-right:10px;
    border-bottom: .15em solid #0F5181;
}

.image {
    background: #FAFAFA;
}



