/*Означення*/
.eoz-wrap{
    margin-bottom:1em;
}
.ozn {
    background: #0F5181;
    border: 1px solid #0F5181;
    color:white;
    font-weight: bold;
    width:5.9em;
    /*padding:3px;
    margin-bottom:-5px;*/
}
.ozn-text {
      text-align: center;
      vertical-align: middle;
      line-height: 2em;
}
.eoz {
    margin-top:-5px;
    width:100%;
    background: #FAFAFA;
    border: 1px solid #0F5181;
}

/*Авторський алгоритм*/



/*Авторський алгоритм*/