

.eoz {
    width:100%;
    background: #FAFAFA;
    border: 2px solid #0F5181;
}

eoz.span {
    background: #0F5181;
    border: 2px solid #0F5181;
    color:white;
    text-transform: uppercase;
}

#eoz {
    color:#0000FF;
}